<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>BOOLFLIX</title>
</head>
<body>

    <div class="container">

        <div id="root">

            <div class="search">
                <input type="text" class="user-input" placeholder="Search by title" v-model="userSearch" @keyup.enter="clickSearch"><br>
                <button class="search-button" @click="clickSearch">SEARCH</button>
            </div>

            <div class="filtered-search-container">

                <div class="filtered-search" v-for="element in movies">

                    <div class="movie-info">
                        <span class="info-title">Title: </span>
                        <span>{{element.title}}</span>
                        <span>{{element.name}}</span>
                    </div>

                    <div class="movie-info">
                        <span class="info-title">Original title: </span>
                        <span>{{element.original_title}}</span>
                    </div>

                    <div class="movie-info">
                        <span class="info-title">Language: </span>
                        <img class="flag-icon" :src="flagIcon(element)" alt="">
                    </div>
                    
                    <div class="movie-info">
                        <span class="info-title">Vote: </span>
                        <span>{{element.vote_average}}</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>