<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>BOOLFLIX</title>
</head>
<body>

    <div id="root" class="container">

        <header class="top-bar">

            <div class="main-title">
                <h1>BOOLFLIX</h1>
            </div>

            <div class="search">
                <input type="text" class="user-input" placeholder="Search by title" v-model="userSearch" @keyup.enter="clickSearch">
                <button class="search-button" @click="clickSearch">SEARCH</button>
            </div>

        </header>

        <div class="filtered-search-container">

            <div class="filtered-search" v-for="element in movies">

                <div class="poster-container">
                    <img :src="getIMG(element)" class="poster-img">
                </div>

                <div class="movie-info-container">
                    <div class="movie-info">
                        <span class="info-title">Title: </span>
                        <span>{{element.title}}</span>
                    </div>

                    <div class="movie-info">
                        <span class="info-title">Original title: </span>
                        <span>{{element.original_title}}</span>
                    </div>

                    <div class="movie-info">
                        <span class="info-title">Language: </span>
                        <img class="flag-icon" :src="flagIcon(element)" alt="">
                    </div>
                    
                    <div class="movie-info">
                        <span class="info-title">Vote: </span>
                        <span>{{element.vote_average}}</span>
                        <i class="fas fa-star golden-stars" v-for="stars in element.vote_average"></i>
                        <i class="fas fa-star empty-stars" v-for="stars in (5-element.vote_average)"></i>
                    </div>

                    <div class="movie-info">
                        <span class="info-title">Overview: </span>
                        <span>{{element.overview}}</span>
                    </div>
                </div>

            </div>

            <div class="filtered-search-container">

                <div class="filtered-search" v-for="element in series">
                    
                    <div class="poster-container">
                        <img :src="getIMG(element)" class="poster-img">
                    </div>

                    <div class="movie-info-container">

                        <div class="movie-info">
                            <span class="info-title">Title: </span>
                            <span>{{element.name}}</span>
                        </div>
    
                        <div class="movie-info">
                            <span class="info-title">Original title: </span>
                            <span>{{element.original_name}}</span>
                        </div>
    
                        <div class="movie-info">
                            <span class="info-title">Language: </span>
                            <img class="flag-icon" :src="flagIcon(element)" alt="">
                        </div>
                        
                        <div class="movie-info">
                            <span class="info-title">Vote: </span>
                            <span>{{element.vote_average}}</span>
                            <i class="fas fa-star golden-stars" v-for="stars in element.vote_average"></i>
                            <i class="fas fa-star empty-stars" v-for="stars in (5-element.vote_average)"></i>
                        </div>

                        <div class="movie-info">
                            <span class="info-title">Overview: </span>
                            <span>{{element.overview}}</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>